%h2
  = t('feed.title')

- unless current_user.present?
  = render 'shared/prompt_signin'

%div.container
  %div.layout-grid
    - if @trends.nil? && current_user.present?
      %div.child
        %p
          = t('feed.accept_to_see_feed')
    - else
      %div.child
        %p
          = t('feed.top_nearby_trends')

        %table
          %tbody
            - @trends.each do |trend_data|
              %tr
                %td #{trend_data.trend}
                - if trend_data.country == trend_data.city
                  %td #{trend_data.country}
                - else
                  %td #{trend_data.country}:  #{trend_data.city}

    %div.child
      = link_to discoveries_path do
        %img.preview{:src => "/assets/map/trend-tracker-preview-anim.gif"}

      %a.map-btn{:href => discoveries_path }
        %button.go-map
          = t('home.btn_map')

    %div.child
      %p
        = t('feed.privacy_options')
      %a.map-btn{:href => user_privacies_path }
        %button.go-map
          = t('feed.privacy_link')