%h2
  Your Personalised Feed

- unless current_user.present?
  = render 'shared/prompt_signin'

%div.container
  %div.layout-grid
    - unless @trends.nil?
      %div.child
        %p
          Here are the top trends around where you live!

        %table
          %tbody
            - @trends.each do |trend_data|
              %tr
                %td #{trend_data.trend}
                - if trend_data.country == trend_data.city
                  %td #{trend_data.country}
                - else
                  %td #{trend_data.country}:  #{trend_data.city}

    - unless @top_trends.empty?
      %div.child
        %p
          Here are the top trends from around the globe!

        %table
          %tbody
            - @top_trends.each do |trend_data|
              %tr
                %td #{trend_data.trend}
                - if trend_data.country == trend_data.city
                  %td #{trend_data.country}
                - else
                  %td #{trend_data.country}:  #{trend_data.city}


    %div.child
      = link_to discoveries_path do
        %img.preview{:src => "/assets/map/trend-tracker-preview-anim.gif"}

      %a.map-btn{:href => discoveries_path }
        %button.go-map
          = t('home.btn_map')

    %div.child
      %p
        To check the user privacy agreement to see what data we collect and what your options are, check out the privacy agreement.
      %a.map-btn{:href => user_privacies_path }
        %button.go-map
          PRIVACY AGREEMENT