%header
  %div.header-nav
    = link_to home_index_path do
      %img.logo{:src => "/assets/logo/logo_smaller.png"}

    %a{:href => home_index_path }
      %p.header-nav-items
        = t('header.home')

    %a{:href => '/feed' }
      %p.header-nav-items
        = t('header.feed')

    %a{:href => discoveries_path }
      %p.header-nav-items
        = t('header.map')

    %a{:href => '/about' }
      %p.header-nav-items
        = t('header.about')

    - if current_user.present?
      %a{:href => user_privacies_path }
        %p.header-nav-items
          = t('header.privacy')
    - else
      %a{:href => new_user_session_path }
        %p.header-nav-items
          = t('header.sign_in')

    - if current_user.present?
      = link_to destroy_user_session_path, :method => :delete do
        %button
          = t('header.sign_out')
    - else
      = link_to new_user_registration_path do
        %button
          = t('header.sign_up')