%h2
  = t('home.title')

%div.container
  %div.layout-grid
    %div.child
      %p
        = t('home.desc_overview')
      %p
        = t('home.desc_tagline')

    %div.child
      %h3 Map Preview

      = link_to discoveries_path do
        %img.preview{:src => "/assets/map/trend-tracker-preview-anim.gif"}

      %a.map-btn{:href => discoveries_path }
        %button.go-map
          = t('home.btn_map')