:javascript
  function geoFindUser() {
    function success(position) {
        const latitude  = position.coords.latitude;
        const longitude = position.coords.longitude;
        window.location.href = "#{home_index_path(:accept => "true")}&x=" + latitude + "&y=" + longitude
    }

    function error() {
        window.location.href = "#{home_index_path(:accept => "false")}"
    }

    if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success, error);
    }
  }

%h2
  = t('privacy.title')

%div.container
  %div.layout-grid
    %div.child
      %p
        We want to access and store your location to improve the service for you.

        by default we do not collect your location.

    %div.child
      %p
        - if @agreedment_date == nil
          We currently do not store your data.
        - else
          = "We currently have a record of your location from #{@agreedment_date}. If you want your data to be deleted you can do so my rejecting the agreement below. If you a"

    %div.child
      %a{href: '', onclick: 'geoFindUser();'}
        %button
          = t('privacy.accept')
      %br

      = link_to home_index_path(:accept => "false") do
        %button
          = t('privacy.reject')