%p#notice= notice

%p
  %b Tracking:
  = @user_privacy.tracking
%p
  %b Authorization:
  = @user_privacy.authorization

= link_to 'Edit', edit_user_privacy_path(@user_privacy)
\|
= link_to 'Back', user_privacies_path
