!!!

%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge'}
    = favicon_link_tag("map/fav_icon.png")

    %title= t('app_title')
    %link{'href' => 'https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css', 'rel' => 'stylesheet'}
    %link{'href' => 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css', 'rel' => 'stylesheet', type: 'text/css'}
    %script{'src' => 'https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'}
    %script{'src' => 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'}

    %meta{'name' => 'description', 'content' => t('app_description')}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{id: "body"}

    = render 'shared/nav'

    = yield
